.place__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: calc(1023px + 17px)) {
    .place__title{
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: calc(767px + 17px)) {
    .place__title{
        width: calc(100% - 16px*2);
        font-size: 32px;
        line-height: 1;
        margin: 0 auto 0;
    }
}