.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    row-gap: 92px;
}

@media screen and (max-width: calc(1023px + 17px)) {
    .content{
        row-gap: 88px;
    }
}

@media screen and (max-width: calc(767px + 17px)) {
    .content{
        row-gap: 64px;
    }
}