.place__paragraph {
    margin: 0 0 26px;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
}

.place__paragraph:last-child {
    margin: 0;
}

@media screen and (max-width: calc(1023px + 17px)) {
    .place__paragraph{
        margin-bottom: 25px;
    }
}

@media screen and (max-width: calc(1023px + 17px)) {
    .place__paragraph{
        font-size: 16px;
        line-height: 26px;
    }
}